# Nushell Config File

use {{ .chezmoi.homeDir }}/.config/nushell/themes/catppuccin.nu *

let theme = $catppuccin.mocha

$env.config = {
  color_config: $theme
  rm: {
      always_trash: false
    }
}

# TODO: if gnome is light then choose light theme, else if dark then choose dark theme

source {{ .chezmoi.homeDir }}/.config/nushell/aliases.nu
source {{ .chezmoi.homeDir }}/.config/nushell/autorun.nu
