[Unit]
Description=Automatically apply chezmoi when directory changes
After=local-fs.target

[Service]
Type=oneshot
ExecStart={{ .chezmoi.homeDir }}/.config/systemd/user/scripts/fetch-repos

[Install]
WantedBy=default.target
