[Desktop Entry]
Type=Application
Exec=~/.local/bin/idwt-lockdown --choose 'unadmin'
Icon=system-lock-screen-symbolic
Name=Revoke Admin
Keywords=Idwt;Lockdown;Block;unadmin;
Categories=Utility;
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=true

