[Desktop Entry]
Type=Application
Exec=~/.local/bin/idwt-lockdown -y --choose 'block-flatpak'
Icon=system-lock-screen-symbolic
Name=Block Flatpak
Keywords=Idwt;Lockdown;Block;flatpak;block-flaptak
Categories=Utility;
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=true

