[Desktop Entry]
Type=Application
Exec=~/.local/bin/idwt-lockdown -y --choose 'block-sites'
Icon=system-lock-screen-symbolic
Name=Block Sites
Keywords=Idwt;Lockdown;Block;block-sites;
Categories=Utility;
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=true

