[Unit]
Description=Automatically kill binaries in blocked dirs
After=local-fs.target

[Service]
Type=oneshot
ExecStart={{ .chezmoi.homeDir }}/.config/systemd/user/scripts/block-binary

[Install]
WantedBy=default.target
